/* Container for the swap section */
.swap-container {
  color: white;

  /* Styles for h3 heading */
  h3 {
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5rem;

    /* Media query for screens with max-width of 768px */
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  /* Styles for swap-card */
  .swap-card {
    padding: 2rem;
    border: 1px solid white;
    border-radius: 2rem;

    /* Styles for heading */
    .heading {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      margin-bottom: 2rem;

      /* Styles for label */
      .label {
        color: white;
        opacity: 0.6;
        font-family: "Integral CF", sans-serif;
      }

      /* Styles for swap-coin-icon */
      .swap-coin-icon {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
      }

      /* Styles for coin-name */
      .coin-name {
        font-family: "Integral CF", sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
    }

    /* Styles for select-row */
    .select-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      /* Media query for screens with max-width of 768px */
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
      }

      /* Styles for token-search */
      .token-search {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;

        /* Media query for screens with max-width of 768px */
        @media (max-width: 768px) {
          width: 100%;
        }

        /* Styles for coin-icon */
        .coin-icon {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }

        /* Styles for input */
        .input {
          font-family: "Integral CF", sans-serif;
          border: 1px solid #a12aeb;
          border-radius: 2rem;
          background: transparent;
          padding: 0.4rem 1rem;
          padding-bottom: 0.6rem;
          font-size: 1.5rem;
          color: white;
          width: 200px;
        }

        /* Styles for dropdown-button */
        .dropdown-button {
          background: transparent;
          border: none;

          /* Styles for dropdown-icon */
          .dropdown-icon {
            height: 2rem;
            color: white;

            /* Styles for hover */
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      /* Styles for options */
      .options {
        max-height: 20rem;
        overflow-y: auto;
        list-style: none;
        position: absolute;
        top: 3rem;
        left: 0;
        width: 100%;
        background: black;

        /* Styles for option */
        .option {
          font-family: "Integral CF", sans-serif;
          font-weight: normal;
          font-size: 1.2rem;
          line-height: 1.2rem;
          padding: 0.5rem 1rem;

          &:hover {
            background: #18181b;
          }
        }
      }
    }
  }
}
