/* Container for the swap section */
.swap-container {
    color: white;

    /* Styles for h3 heading */
    h3 {
        font-family: "Integral CF", sans-serif; /* Integral CF font family */
        font-weight: 700; /* Bold font weight */
        font-size: 3.5rem; /* Font size of 3.5rem */
        line-height: 1.5rem; /* Line height of 1.5rem */

        /* Media query for screens with max-width of 768px */
        @media (max-width: 768px) {
            font-size: 2.5rem; /* Font size of 2.5rem for smaller screens */
        }
    }

    /* Styles for swap-card */
    .swap-card {
        padding: 2rem; /* Padding of 2rem */
        border: 1px solid white; /* Border of 1px solid white */
        border-radius: 2rem; /* Border radius of 2rem */

        /* Styles for heading */
        .heading {
            display: flex; /* Display as a flex container */
            align-items: center; /* Center align items */
            gap: 0.4rem; /* Gap of 0.4rem */

            margin-bottom: 2rem; /* Margin bottom of 2rem */

            /* Styles for label */
            .label {
                color: white; /* Color of white */
                opacity: 0.6; /* Opacity of 0.6 */
                font-family: "Integral CF", sans-serif; /* Integral CF font family */
            }

            /* Styles for swap-coin-icon */
            .swap-coin-icon {
                border-radius: 50%; /* Border radius of 50% */
                height: 2rem; /* Height of 2rem */
                width: 2rem; /* Width of 2rem */
            }

            /* Styles for coin-name */
            .coin-name {
                font-family: "Integral CF", sans-serif; /* Integral CF font family */
                font-weight: 700; /* Bold font weight */
                font-size: 1.2rem; /* Font size of 1.2rem */
                line-height: 1.2rem; /* Line height of 1.2rem */
            }
        }

        /* Styles for select-row */
        .select-row {
            display: flex; /* Display as a flex container */
            justify-content: space-between; /* Space between items */
            align-items: center; /* Center align items */
            gap: 2rem; /* Gap of 2rem */

            /* Media query for screens with max-width of 768px */
            @media (max-width: 768px) {
                flex-direction: column; /* Change direction to column */
                gap: 1rem; /* Change gap to 1rem */
            }

            /* Styles for token-search */
            .token-search {
                display: flex; /* Display as a flex container */
                align-items: center; /* Center align items */
                gap: 1rem; /* Gap of 1rem */
                position: relative; /* Position relative */

                /* Media query for screens with max-width of 768px */
                @media (max-width: 768px) {
                    width: 100%; /* Make width 100% for smaller screens */
                }

                /* Styles for coin-icon */
                .coin-icon {
                    width: 2rem; /* Width of 2rem */
                    height: 2rem; /* Height of 2rem */
                    border-radius: 50%; /* Border radius of 50% */
                }

                /* Styles for input */
                .input {
                    font-family: "Integral CF", sans-serif; /* Integral CF font family */
                    border: 1px solid #a12aeb; /* Border of 1px solid #a12aeb */
                    border-radius: 2rem; /* Border radius of 2rem */
                    background: transparent; /* Background transparent */
                    padding: 0.4rem 1rem; /* Padding of 0.4rem 1rem */
                    padding-bottom: 0.6rem; /* Padding bottom of 0.6rem */
                    font-size: 1.5rem; /* Font size of 1.5rem */
                    color: white; /* Color of white */
                    width: 200px; /* Width of 200px */
                }

                /* Styles for dropdown-button */
                .dropdown-button {
                    background: transparent; /* Background transparent */
                    border: none; /* Border none */

                    /* Styles for dropdown-icon */
                    .dropdown-icon {
                        height: 2rem; /* Height of 2rem */
                        color: white; /* Color of white */

                        /* Styles for hover */
                        &:hover {
                            cursor: pointer; /* Change cursor to pointer on hover */
                        }
                    }
                }
            }

            /* Styles for options */
            .options {
                max-height: 20rem; /* Max height of 20rem */
                overflow-y: auto; /* Overflow-y auto */
                list-style: none; /* List style none */
                position: absolute; /* Position absolute */
                top: 3rem; /* Top of 3rem */
                left: 0; /* Left of 0 */
                width: 100%; /* Width of 100% */
                background: black; /* Background black */

                /* Styles for option */
                .option {
                    font-family: "Integral CF", sans
