@use "sass:math";

:root {
  --total: 144;
  --time: 4s;
  --height: 400px;
  --percent: 0.69444%;
  --dot-size: 0.9vw;
  --black: #000;
  --color-start: hsl(0, 0%, 50%);
  --color-end: hsl(0, 0%, 80%);
}

* {
  box-sizing: border-box;
}

.color-drops-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.color-drop {
  position: absolute;
  height: var(--height);
  width: var(--percent);
  margin-top: calc(var(--height) * -1);
  animation: drop var(--time) infinite ease-in;
  animation-fill-mode: both;
  z-index: calc(var(--i) * 10);
  left: calc(var(--i) * var(--percent) - var
