.site-divider {
  --gradient-color: #ac2bf9;
  height: 2px;
  background: linear-gradient(
    270deg,
    rgba(172, 43, 249, 0) 0%,
    var(--gradient-color) 54.17%,
    rgba(172, 43, 249, 0) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(172, 43, 249, 0) 0%,
    var(--gradient-color) 54.17%,
    rgba(172, 43, 249, 0) 100%
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    270deg,
    rgba(172, 43, 249, 0) 0%,
    var(--gradient-color) 54.17%,
    rgba(172, 43, 249, 0) 100%
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    270deg,
    rgba(172, 43, 249, 0) 0%,
    var(--gradient-color) 54.17%,
    rgba(172, 43, 249, 0) 100%
  ); /* For Firefox 3.6 to 15 */
}
