/* Container for the discovery section */
.discover-container {
    /* Background gradient and image */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../../assets/discover/discover-background.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    /* Margin and padding */
    margin-top: 8rem;
    padding: 1rem;
    width: 100%;

    /* Media queries for responsiveness */
    @media (max-width: 1367px) {
        margin-top: 4rem;
    }

    @media (max-width: 800px) {
        padding-bottom: 10rem;
    }

    @media (max-width: 512px) {
        padding-bottom: 6rem;
    }
}

/* Styling for the subheading */
.discover-sub-heading {
    display: block;

    color: #ac2bf9;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 139.5%;
    text-align: center;
    text-transform: capitalize;

    /* Media queries for responsiveness */
    @media (max-width: 768px) {
        font-size: 40px;
    }

    @media (max-width: 480px) {
        font-size: 26px;
    }

    /* Positioning and z-index */
    position: relative;
    z-index: 2;
}

/* Styling for the heading */
.discover-heading {
    color: #ffffff;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 76%;
    text-align: center;
    text-transform: uppercase;

    /* Maximum width and centering */
    max-width: 20ch;
    margin: 0 auto;

    /* Media queries for responsiveness */
    @media (max-width: 1367px) {
        font-size: 64px;
    }

    @media (max-width: 768px) {
        font-size: 60px;
    }

    @media (max-width: 500px) {
        font-size: 40px;
    }

    /* Positioning and z-index */
    position: relative;
    z-index: 2;
}

/* Container for the graphic and sponsor section */
.discover-graphic-container {
    display: flex;
    justify-content: center;

    position: relative;
    top: -6rem;

    max-width: 80vh;
    margin: 0 auto;

    /* Media queries for responsiveness */
    @media (max-width: 800px) {
        top: 0;

        /* Display flex and align items for smaller screens */
        /* display: flex;
        flex-direction: column;
        gap: 2rem; */
    }

    /* Graphic styling */
    .discover-graphic {
        max-width: 100%;
        display: block;

        position: relative;

        /* Z-index for
