/* Stats container */
.stats-container {
}

/* Stats row */
.stats-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;

  /* Change flex direction to column on small screens */
  @media (max-width: 480px) {
    flex-direction: column;
  }
}

/* Stat item */
.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Stat number styles */
.stat-item .stat-number {
  color: #ac2bf9;
  font-family: "Integral CF", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* Stat number responsive styles */
@media (max-width: 1367px) {
  .stat-item .stat-number {
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  .stat-item .stat-number {
    font-size: 64px;
  }
}

@media (max-width: 480px) {
  .stat-item .stat-number {
    font-size: 44px;
  }
}

/* Stat label styles */
.stat-item .stat-label {
  color: white;
  text-transform: uppercase;
  font-family: "Integral CF", sans-serif;
}
