:root {
  --black-rgba-0.4: rgba(0, 0, 0, 0.4);
  --white: #ffffff;
  --purple: #ac2bf9;
  --font-size-20: 20px;
  --font-size-14: 14px;
  --line-height-18: 18px;
  --line-height-139-5: 139.5%;
  --max-width-60ch: 60ch;
}

.benefits-container {
  margin-top: 7rem;
  background: linear-gradient(to top, var(--black-rgba-0.4), var(--black-rgba-0.4)),
    url("../../assets/discover/discover-background.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1px 1px 16rem;
}

@media (max-width: 1367px) {
  .benefits-container {
    padding-bottom: 10rem;
  }
}

@media (max-width: 768px) {
  .benefits-container {
    padding-bottom: 8rem;
  }
}

@media (max-width: 480px) {
  .benefits-container {
    margin-top: 4rem;
  }
}

.benefits-heading {
  color: var(--purple);
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: var(--line-height-139-5);
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

@media (max-width: 1367px) {
  .benefits-heading {
    font-size: 30px;
    line-height: 0;
  }
}

@media (max-width: 480px) {
  .benefits-heading {
    font-size: 20px;
  }
}

.benefits-sub-heading {
  color: var(--white);
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 83%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 1367px) {
  .benefits-sub-heading {
    font-size: 34px;
    max-width: 26ch;
  }
}

@media (max-width: 768px) {
  .benefits-sub-heading {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .benefits-sub-heading {
    font-size: 26px;
  }
}

.benefits-video {
  height: 40vh;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.benefits-gallery {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  width: 600px;
}

@media (max-width: 768px) {
  .benefits-gallery {
    width: 100%;
    gap: 0.4rem;
  }
}

@media (max-width: 580px) {
  .benefits-gallery {
    flex-direction: column;
  }
}

.benefits-showcase-row {
  width: 20%;
}

@media (max-width: 580px) {
  .benefits-showcase-row {
    width: 100%;
  }
}

.ben
